<launch>

  <arg name="do_angle_conversion" default="false"/>
  <param name="do_angle_conversion" type="bool" value="$(arg do_angle_conversion)"  />
  <node name="sim_joint_state_converter" pkg="gelataio_boy_control" type="sim_joint_state_converter" respawn="false" output="screen">
  </node>

</launch>
