 <launch>
    <arg name="model" default="$(find robots)/roboy_head/model.urdf"/>
    <arg name="gui" default="true"/>

    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find robots)/roboy_head/model.urdf'" />
    
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="$(arg gui)"/>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

</launch>